*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("../img/wall.png");
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    background-image: url("../img/cork.png");
    height: 85vh;
}
