/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole per i testi */
h1{
    font-size: 70px;
    font-family: "Edu Tas Beginner", sans-serif;
}

h5{
    font-family: "Edu Tas Beginner", sans-serif;
    font-size: 30px;
}

p{
    font-family: "Sometype Mono", monospace;
    font-size: 20px;
    color: gray;
}

/* stilizazione header */
header{
    background-image: url("../img/wall.png");
    background-size: cover;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* stilizazione body */
body{
    background-image: url("../img/cork.png");
    background-size: cover;
}

/* regole contenitore cards */
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

/* regole singola card */
.card{
    width: 26%;
    background-color: white;
    border: 1px solid white;
    position: relative;
    margin-bottom: 40px;
    padding: 1%;
}

/* regole img di una card */
.card img{
    max-width: 100%;
}

/* regole pin delle card */
.pin{
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
}

/* regole delle carte in hover */
.card:hover {
    transform: rotate(15deg);
    z-index: 1;
    transition: 0.5s;
}

/* regole pin delle carte in hover */
.card:hover .pin{
    display: none;
}

/* classe display none data al contenitore overlay */
.d_none{
    display: none;
}

/* regole contenitore overlay */
.overLay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
}

/* regole contenitore di img e button overlay */
.container__overlay{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
}
/* regole img overlay */
.container__overlay img{
    max-width: 100%;
    margin-top: 30px;
}

/* regole bottone overlay */
.bottoneOverLay{
    margin: 0 auto;
    padding: 2%;
    font-size: 20px;
}



/* tablet */

@media screen and (max-width:768px){
    .card{
        width: 40%;
        padding: 2%;
    }
    h1{
        font-size: 60px;
    }
    h5{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
    .pin{
        width: 30px;
    }
}

/* mobile */
@media screen and (max-width:500px){
    .card{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .row{
        display: block;
    }
}

/* regole messaggio di errore che lancia js */
/* errore */
h3{
    font-size: 100px;
}